.green-600 {
   color: #039855 !important;
}
button {
   background-color: transparent;
}

.franchiee-nav {
   flex-wrap: nowrap;
}

.franchiee-nav .md-size img {
   min-width: 45px;
}

.franchiee-nav .layout-menu-toggle .nav-item i {
   margin: 0;
}

.fw-medium {
   font-weight: 500 !important;
}

.img-rounded-36 {
   width: 40px;
   aspect-ratio: 1;
}

.navyblue {
   color: #002f65 !important;
}

.mt-05 {
   margin-top: 2px !important;
}

@media (max-width: 767px) {
   .franchiee-nav {
      flex-wrap: wrap;
   }

   .card-col-d {
      flex-direction: column;
      align-items: start;
   }
   .abs-spans-mob .cust-badge {
      position: absolute;
      top: 15px;
      right: 15px;
   }

   .abs-spans-mob .flex-nowrap.card-border {
      position: relative;
      z-index: 1;
   }
}
